<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EquipmentResumeMGR.Properties.Settings.DataConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\Data.accdb"
            providerName="System.Data.OleDb" />
        <add name="EquipmentResumeMGR.Properties.Settings.SQLSERVER"
            connectionString="Data Source=PRADA-PC;Initial Catalog=AutoManagerPlant;Persist Security Info=True;User ID=sa;Password=1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>